/*Button*/

/*Globals*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f0efef;
}

header.first {
	background-image: url("images/header_bg.jpg");
	color: rgba(255, 255, 255, 1);
	background-size:cover;
	height: 450px;
}

h1 {
	font-weight: 800;
	font-size:24px;
	padding: 40px;
}

p.first {
	font-weight: 600;
	font-size:24px;
	text-align: center;
	padding: 80px 0 0 0;
}

button.first {
	font-weight: 800;
	font-size:14px;
	border-radius: 5px;
	background-color:#f9e42e;
	color: #606161;
	padding: 10px;
	border: none;
}

.button-wrap {
	text-align: center;
	margin-top: 80px;
}

h2 {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}

p.benefits {
	font-weight: 300;
	font-size: 13px;
	margin-top: 10px;
}

div.benefits {
	font-weight: 300;
	font-size: 13px;
	margin: 80px 0px;
	text-align: center;
}

ul {
	margin-top: 20px;
}

li {
	margin-top: 10px;
	list-style-type: circle;
	list-style-position: inside;
}
section.testimonial {
	background-image: url("images/testimonial_bg.jpg");
	background-size: cover;
	height: 300px;
}

section.testimonial blockquote {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	margin: 0px auto;
	padding:40px;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

section.testimonial p {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

section.button{
	background-color:#f9e42e;
	height: 40px;
	text-align: center;
	padding:20px;
}

button.button {
	font-weight:800;
	font-size: 12px;
	border-radius: 5px;
	background-color: #033048;
	color: rgba(255, 255, 255, 1);
	padding: 10px 40px;
	border: none;
}

section.end {
	background-color: #121212;
	height: 300px;
	text-align: center;
}

section.end li{
	display:inline-block;
	line-height: 1;
	padding: 15px;
	margin-top: -40px;
}

p.end {
	font-size: 24px;
	font-weight:800;
	color: #f9e42e;
	padding:40px;
}

p.end2 {
	font-size: 9px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	padding:20px;
}